:root {
  --white-color: #f8f8f8;
  --black-color: #000;
  --purple-color: #4f0097;
  --green-color: #0e3f10;
  --red-color: #3f0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg-ease-change {
  transition: background-color .3s ease-in-out;
}

.bg-white {
  background-color: var(--white-color);
}

.bg-black {
  background-color: var(--black-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-red {
  background-color: var(--red-color)
}

.msg {
  width: 60%;
  margin: 0 auto;
  font-size: 16px;
  padding: 14px 10px;
  border-radius: 5px;
  font-style: italic;
  min-width: fit-content;
}

.note {
  margin-bottom: 18px;
}

.error-msg {
  color: #ff4d4d;
  background-color: #ff4d4d59;
}

.success-msg {
  color: #00ff00;
  background-color: #448644;;
}

.close-msg-btn {
  font-size: 12;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #000000;
  text-align: left !important;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  /* padding-bottom: 25px; */
}

.hide {
  display: none !important;
}

.my-input {
  width: 38%;
  padding: 12px;
  outline: none;
  font-size: 14px;
  min-width: 180px;
  border-radius: 4px;
  background: transparent;
  border: 0.6px solid rgba(40, 40, 40, 0.3);
}

.my-form-group {
  margin-top: 18px;
}

.learnMore {
  color: rgba(0, 0, 0, .7); 
  text-decoration: none; 
  font-size: 14px; 
  margin-left: 8px;
  text-transform: lowercase;
}

[type="submit"] {
  outline: none;
  font-size: 18px;
  padding: 12px;
  border-radius: 2px;
  color: var(--purple-color);
  background-color: transparent;
  border: .5px solid var(--purple-color);
  transition: background-color .2s ease-in;
}

[type="submit"]:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
  cursor: pointer;
}

.space-bar {
  padding-top: 100px;
}


.modal {
  top: 80px;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 39px;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: #a99f9ff7;
}



.modal-content-wrap {
  width: 800px;
  padding: 18px;
  border-radius: 4px;
  height: max-content;
  background-color: var(--white-color);
}


/* Navigation bar styles */

nav {
  position: fixed;
  right: 0px;
  left: 0px;
  background-color: #00d3ac;
}

nav section {
  width: 1124px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav section #title {
  font-size: 32px;
}

.navbar-sec {
  flex: .28;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.navbar-sec a {
  margin-right: 8px;
}

.nav-btn__lg {
  color: #4ac3c5;
  padding: 6px 11px;
  border-radius: 50%;
  background-color: #000;
  transition: font-size, text-shadow, .3s ease-in;
}

.navbar-sec .my-btn {
  color: #4ac3c5;
  padding: 6px 11px;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 50%;
  background: #6b29a8;
  text-decoration: none;
  background-color: #000;
  transition: font-size, text-shadow, .3s ease-in;
}

.navbar-sec .my-btn:hover,
.nav-btn__lg:hover {
  font-size: 20px;
  box-shadow: 1px 1px 2px 3px #8affdc;
}

#navbar-sidebar__js-close {
  display: none;
}

#navbar-sidebar__js-open {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* Content container style */

main {
  width: 1124px;
  margin: 0 auto;
}

.content-area {
  display: flex;
  padding: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.content-area .task-container {
  width: 70%;
  transition: width .1s ease-in-out;
}

/* Task style */
.task-card {
  padding: 18px;
  display: flex;
  border-radius: 4px;
  margin-bottom: 22px;
  align-items: center;
  border: 0.4px solid #000;
  justify-content: space-between;
}

.card-content {
  margin-bottom: 14px;
}

.card-content > .card-title {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content > .card-time {
  color: #17ffcd;
}

.card-time__value {
  color: #dfdfdf;
  font-size: 12px;
  font-weight: bold;
}

.card-tags {
  margin-top: 12px;
}

a.card-tag {
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  color: #d35df6;
}


.card-btns > button {
  padding: 10px 12px;
  font-size: 22px;
  letter-spacing: 1.2px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.card-btn__edit {
  color: #60faff;
  background: #00767a;
  transition: background-color 0.3s ease;
}

.card-btn__edit:hover {
  background: #12a7ac;
}

.card-btn__complete {
  color: greenyellow;
  background: #006b22;
  transition: background-color 0.3s ease;
}

.card-btn__complete:hover {
  background: #209044;
}

.card-btn__delete {
  color: #ff9f9f;
  background: #a50000;
  transition: background-color 0.3s ease;
}

.card-btn__delete:hover {
  background: #e20c0c;
}


/**
  Proceed With Operation modal styles (PWO)
**/

#pwo-content {
  align-self: center;
  width: 600px;
}

#operation-text {
  font-size: 18px;
  font-weight: bold;
}

#pwo-btns {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}

.pwo-btn {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background: black;
}

#pwo-yes_btn {
  background-color: var(--purple-color);
}

#pwo-no_btn {
  background-color: var(--red-color);
}




/**
  Task add modal styles
**/


#close-task-modal {
  font-size: 16px;
  padding: 12px;
  text-align: right;
  border-radius: 2px;
  text-decoration: none;
  border: .5px solid var(--red-color);
  width: fit-content;
  height: fit-content;
  color: var(--black-color);
}



/* 
  * FOOTER STYLES
*/

footer {
  text-align: center;
  padding: 4px;
  background-color: #7da69f;
  font-size: 18px;

  animation-name: lighten-bg;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

footer p {
  color: #010c09;
  font-weight: 500;
}

footer a {
  color: #5a0000;
}



/**
  Responsive styles
*/

@media screen and (max-width: 1124px ){
  main,
  nav section {
    width: 100%;
  }
}

@media screen and (max-width: 820px){
  /* .nav-btn__lg {
    display: none;
  } */

  .nav-toggler {
    display: block;
  }

  .content-area .task-container {
    width: 100%;
  }
}

@media screen and (min-width: 820px){
  .nav-toggler{
    display: none;
  }
}

@media screen and (max-width: 420px){
  .my-input {
    width: 100%;
  }

  .card-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-btns > button {
    font-size: 13px !important;
    margin: 2px 0;
  }

  .modal {
    padding: 0;
    display: block;
    z-index: 8;
  }

  .modal-content-wrap {
    width: 100%;
    height: 100%;
    padding: 18px 18px 98px 18px;
    border-radius: 0;
    overflow-y: scroll;
  }

  #pwo-content {
    width: 100%;
  }
}